@font-face {
     font-family: 'Gotham-black';
     src: url('../fonts/Gotham-Black.otf');
}

@font-face {
     font-family: 'Gotham-bold';
     src: url('../fonts/Gotham-Bold.otf');
}

@font-face {
     font-family: 'Gotham-medium';
     src: url('../fonts/Gotham-Medium.otf');
}

@font-face {
     font-family: 'Gotham-light';
     src: url('../fonts/Gotham-Light.otf');
}

@font-face {
     font-family: 'Gotham-thin';
     src: url('../fonts/Gotham-Thin.otf');
}
